@model Application.App_Management.ViewModels.GendersViewModel

<h1 class="mb-4">Crear Genero</h1>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear Genero</button>
    <a asp-action="Index" class="btn btn-secondary">Volver al menu</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}